server:
  port:8081

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
#  instance:
#    instance-id: bamboo-consumer-8081
# 设置Spring-Data-JPA
spring:
  application:
    name: bamboo-provider
  freemarker:
    prefer-file-system-access: false
  jpa:
    # 指定在Spring容器启动时是否自动建表，默认为false
    generate-ddl: true
    # 指定是否在控制台显示其执行的SQL语句，默认false
    show-sql: true
    # 指定应用重启时是否重新创建更新表
    hibernate:
      ddl-auto: none

  # 配置数据源
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql:///coffeebaby?useUnicode=true&characterEncoding=UTF-8
    username: root
    password: root
logging:
  # 设置日志输出格式
  pattern:
    console: level-%level %msg%n
  level:
    root: info   # 控制Spring Boot启动时的日志级别

    org.hibernate: info   # 控制hibernate运行时的日志级别
    # 在show-sql为true时，显示SQL中的动态参数值
    org.hibernate.type.descriptor.sql.BasicBinder: trace
    # 在show-sql为true时，显示SQL查询结果
    org.hibernate.type.descriptor.sql.BasicExtractor: trace

    com.abc.provider: debug

info:
  auth: victor
  app.name: bamboo
  app.desc: This is bamboo.
  company.name: www.bamboo.com
  company.addr: Beijing China