<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           https://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.bamboo.ssm.quartz" />
    <!-- 配置定时任务 -->
    <bean id="itemJob" class="com.bamboo.ssm.quartz.job.TestJob"></bean>

    <!-- 配置JobDetail -->
    <bean id="itemJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <!-- 配置目标Job对象 -->
        <property name="targetObject" ref="itemJob"></property>
        <!-- 配置目标Job对象的方法 -->
        <property name="targetMethod" value="execute"></property>
    </bean>
    <!-- 配置trigger触发器 -->
    <bean id="itemTrigger"
          class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <!-- 触发器执行的任务描述 -->
        <property name="jobDetail" ref="itemJobDetail"></property>
        <!-- 配置cron表达式 ，每隔1秒执行一次-->
        <property name="cronExpression" value="0 * * 1 * ?"></property>
    </bean>
    <!-- 配置scheduler任务调度器 -->
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <!-- 配置触发器，可以配置多个 -->
        <property name="triggers">
            <list>
                <ref bean="itemTrigger" />
            </list>
        </property>
    </bean>

</beans>